*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 255, 234, 0.137);
}
.cont-1 img{
    width: 100%;
    height: 200px;
}
.cont-2 img{
    margin-top: 10px;
    width: 100%;
    height: 300px;
}

.cont-3 img{
    margin-top: 10px;
    width: 110px;
    height: 50px;
}

.cont-4 img{
    margin-top: 10px;
    width: 100%;
    height: 500px;
}

.text-primary{
    color: coral !important;
    
}


header{
    margin-bottom: 10px;
    border-bottom: 2px solid coral;
    background-color: rgba(0, 255, 234, 0.151) !important;
}

.container{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid coral;
    background-color: rgba(0, 255, 234, 0.151);
}
.container-2{
    
        width: 100%;
        
        margin-right: auto;
        margin-left: auto;
      
      
}
img{
    border: 2px solid coral;
}

/* Este es el estilo que aplica
.display-1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
  } */